.calculator {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgb(34, 34, 34);
  padding: 10px;
  font-family: Arial, sans-serif;
}

.display {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  text-align: right;
  color: white;
  background-color: blue;
}

.buttons button {
  width: 40px;
  height: 40px;
  margin: 2px;
  font-size: 18px;
}

.buttons button:hover {
  background-color: black;
  color: #ccc;
  -webkit-box-shadow: 5px 5px 15px -8px #FFFFFF; 
  box-shadow: 5px 5px 15px -8px #FFFFFF;
}